@import url("https://p.typekit.net/p.css?s=1&k=kug8dje&ht=tk&f=25629.25630.25631.25632.25633.25634.25637.25638&a=2119600&app=typekit&e=css");
@font-face {
    font-family:"usual";
    src:url("https://use.typekit.net/af/4e8f1c/00000000000000000001771b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/4e8f1c/00000000000000000001771b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/4e8f1c/00000000000000000001771b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
}
@font-face {
    font-family:"usual";
    src:url("https://use.typekit.net/af/9f8f7d/00000000000000000001771c/27/l?subset_id=2&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/9f8f7d/00000000000000000001771c/27/d?subset_id=2&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/9f8f7d/00000000000000000001771c/27/a?subset_id=2&fvd=i6&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:600;
}
@font-face {
    font-family:"usual";
    src:url("https://use.typekit.net/af/393a58/00000000000000000001771d/27/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/393a58/00000000000000000001771d/27/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/393a58/00000000000000000001771d/27/a?subset_id=2&fvd=n6&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:600;
}
@font-face {
    font-family:"usual";
    src:url("https://use.typekit.net/af/b5c416/00000000000000000001771e/27/l?subset_id=2&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/b5c416/00000000000000000001771e/27/d?subset_id=2&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/b5c416/00000000000000000001771e/27/a?subset_id=2&fvd=i3&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:300;
}
@font-face {
    font-family:"usual";
    src:url("https://use.typekit.net/af/8d84f0/00000000000000000001771f/27/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/8d84f0/00000000000000000001771f/27/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/8d84f0/00000000000000000001771f/27/a?subset_id=2&fvd=n3&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:300;
}
@font-face {
    font-family:"usual";
    src:url("https://use.typekit.net/af/a20d40/000000000000000000017720/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/a20d40/000000000000000000017720/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/a20d40/000000000000000000017720/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;
}
@font-face {
    font-family:"usual";
    src:url("https://use.typekit.net/af/84cfc3/000000000000000000017723/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/84cfc3/000000000000000000017723/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/84cfc3/000000000000000000017723/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;
}
@font-face {
    font-family:"usual";
    src:url("https://use.typekit.net/af/625a3c/000000000000000000017724/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/625a3c/000000000000000000017724/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/625a3c/000000000000000000017724/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
}

.login-main {
  left: 0;
  top: 0;
  height: 100%;
  position: fixed;
  background: #e7e9ef 0% 0% no-repeat padding-box;
  font-family: 'Usual', sans-serif;
  opacity: 1;
  font-size: 14px;
  color: #151c1b;

  .login-shape-1 {
    left: 0;
    top: 0;
    width: 45%;
    height: 110%;
    position: fixed;
  }

  .login-shape-2 {
    top: 0;
    right: 0;
    position: fixed;
  }

  .login-block {
    padding: 0 10%;

    .login-logo {
      padding-top: 28px;
      width: 74px;
      // height: 34px;
    }

    .login-project-name {
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-weight: 600;
      width: 386px;
      height: 20px;

      text-align: left;
      font-size: 32px;
      letter-spacing: 0;
      color: #272e4c;
      opacity: 1;
    }

    .login-button {
      margin-top: 56px;
      width: 100%;
      height: 48px;
      background: #3ab77d 0% 0% no-repeat padding-box;
      border-radius: 8px;
      opacity: 1;
      color: #ffffff;
    }

    .login-link {
      color: #3ab77d;
      cursor: pointer;
    }
  }
}

.login-input-area {
  padding-top: 28px;

  .login-text {
    font-size: 14px;
  }

  .login-text-field {
    width: 100%;
    padding: 10px 16px;
    font-size: 16px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #272e4c4d;
    border-radius: 8px;
    font-family: 'Usual';
    margin-top: 10px;
    // &.input {
    //     padding: 0;
    //     font-family: 'Usual';
    // }
    &.MuiInputBase-input {
      font-family: 'Usual', serif;
    }
  }
  &.MuiInputBase-input {
    font-family: 'Usual', serif;
  }
}
